{% extends "base.html.twig" %}

{% block title %}Simple File Uploader{% endblock %}


{# //  tamanho
    //  preco
    //  copias
    //  photoFileName #}

{% block body %}
{% if photos %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Tamanho</th>
      <th>Preço</th>
      <th>Copias</th>
      <th>File Name</th>
    </tr>
  </thead>
  <tbody>
    {% for photo in photos %}
    <tr>
      <td>{{ photo.id }}</td>
      <td>{{ photo.tamanho.tamanho }}</td>
      <td>{{ "R$ %.2f"|format(photo.preco) }}</td>
      <td>{{ photo.copias }}</td>
      <td>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ photo.id }}">
          Ver Imagem
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal{{ photo.id }}" tabindex="-1" role="dialog"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Imagem</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="{{ asset('uploads/photos/' ~ photo.photoFileName) }}" alt="" class="img-fluid">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No photos to display</p>
{% endif %}

{% endblock %}